name: CI - WinForms Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Restore
      run: msbuild CrudFormsDotNet.sln /t:Restore

    - name: Build Debug
      run: msbuild CrudFormsDotNet.sln /p:Configuration=Debug

    - name: Build Release
      run: msbuild CrudFormsDotNet.sln /p:Configuration=Release
